
<head>
  <meta charset="UTF-8">
  <title>Starte die 🚀</title>


  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q09M9DESDX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-Q09M9DESDX');
  </script>


  <style>
    .button_cont {
      text-align: center;
      margin-top: 20px;
    }

    .example_d {
      display: inline-block;
      background-color: #007bff;
      color: white;
      padding: 15px 30px;
      font-size: 16px;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }

    .example_d:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>



  
</body>
</html>
