<div style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <div id="mc_embed_shell" style="background: white; padding: 0px; border-radius: 0px; color: black; width: 100%;">
        <div id="mc_embed_signup">
            <form action="https://überrenditen.us9.list-manage.com/subscribe/post?u=652a6017c6f5a138b39a2c1e3&amp;id=6729c4cc45&amp;f_id=009f0ee1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                <div id="mc_embed_signup_scroll" style="    display: flex; gap: 15px; justify-content: flex-start; padding: 20px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                    <div class="listItemCategoriess">

                        <p>94% verlieren knapp 10.000 €, weil sie diese 4 Regeln aus meinem E-Book nicht kennen!</p>
                        <p>Ich schenke dir das E-Book, wenn du meinen KOSTENLOSEN Newsletter abonnierst.</p>

                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Deine E-MAIL" style="width: 250px; padding: 10px; font-size: 16px; box-sizing: border-box; border-radius: 5px; border: 1px solid #ccc; text-align: center;">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Abonnieren  ➡️  E-BOOK" style="width: 250px; background-color: #3a4da5; color: white; padding: 10px; font-size: 16px; font-weight: bold; border: none; border-radius: 5px; cursor: pointer; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<style>


      
    .large-text {
        font-size: 20px; /* Schriftgröße auf 15px eingestellt */
        font-weight: bold; /* Macht den Text fett */
    }
    /* Media Query für kleinere Bildschirme */
    @media (max-width: 600px) {
        #mc_embed_signup_scroll {
            flex-direction: column; /* Stapelt die Elemente untereinander */
            align-items: flex-start; /* Richtet die Elemente linksbündig aus */
            text-align: left; /* Richtet den Text linksbündig aus */
        }
        .mc-field-group {
            width: 100%; /* Die Eingabefelder passen sich der Breite an */
            align-items: flex-start; /* Richtet die Eingabefelder und Buttons linksbündig aus */
        }
        .mc-field-group input[type="email"], 
        .mc-field-group input[type="submit"] {
            width: 100%; /* Stellt sicher, dass Eingabefeld und Button die gleiche Breite haben */
        }
}

</style>
